.main {
    margin-top: 4em;
    margin-left: 1em;
}

.driver-card {
    background: #ddd;
    width: 10em;
    height: 4em;
    position: relative;
    font-size: 350%;
    border-radius: 15px;
    margin-bottom: .3em;
    margin-right: .3em;
    display: inline-block;
}

.driver-card div {
    position: absolute;
}

.driver-card .label {
    font-size: 30%;
    background: #56f;
}

.driver-card .time {
    font-size: 70%;
}

.driver-card .track-number-label {
    left: 1em;
    top: 1em;
}

.driver-card .track-number {
    left: 1.5em;
    top: 0.5em;
}

.driver-card .name-label {
    left: 13em;
    top: 1em;
}

.driver-card .name {
    left: 5.3em;
    top: 0.5em;
}

.driver-card .lap-label {
    left: 1em;
    top: 5em;
}

.driver-card .lap {
    left: 1.5em;
    top: 1.7em;
}

.driver-card .position-label {
    left: 13em;
    top: 5em;
}

.driver-card .position {
    left: 5.3em;
    top: 1.7em;
}

.driver-card .fastest-lap-label {
    left: 1em;
    top: 9em;
}

.driver-card .fastest-lap {
    left: 0.4em;
    top: 4.7em;
}

.driver-card .last-lap-label {
    left: 13em;
    top: 9em;
}

.driver-card .last-lap {
    left: 5.5em;
    top: 4.7em;
}