.main {
    margin-top: 1em;
    margin-left: 1em;
}

.track-card {
    background: #ddd;
    width: 10em;
    height: 4em;
    position: absolute;
    font-size: 250%;
    border-radius: 15px;
    margin-bottom: .3em;
    margin-right: .3em;
    display: inline-block;
    left: 0.5em;
}

.rank0 {
    top: 0.5em;
}

.rank1 {
    top: 5em;
}

.rank2 {
    top: 9.5em;
}

.rank3 {
    top: 14em;
}

.track-card div {
    position: absolute;
}

.track-card .label {
    font-size: 30%;
    background: #56f;
}

.track-card .time {
    font-size: 70%;
}

.track-card .track-number-label {
    left: 1em;
    top: 1em;
}

.track-card .track-number {
    left: 1.5em;
    top: 0.5em;
}

.track-card .name {
    left: 1.0em;
    top: 0.4em;
}

.track-card .lap-label {
    left: 1em;
    top: 5em;
}

.track-card .lap {
    left: 1.8em;
    top: 1.7em;
}

.track-card .best-lap-label {
    left: 1em;
    top: 9em;
}

.track-card .best-lap {
    left: 0.5em;
    top: 4.7em;
}

.track-card .last-lap-label {
    left: 13em;
    top: 9em;
}

.track-card .last-lap {
    left: 5.6em;
    top: 4.7em;
}

