.main {
    margin-top: 1em;
    margin-left: 1em;
}

.card {
    background: #eee;
    width: 10em;
    position: absolute;
    font-size: 250%;
    border-radius: 15px;
    left: 0.5em;
}

.race-status {
    background: #9e9;
    top: 0.5em;
    height: 2em;
}

.race-status > div, .next-race > div {
    margin: 0.7em;
}

.track {
    background: #ddf;
    height: 4em;
}

.track div {
    position: absolute;
}

.track .label {
    font-size: 30%;
    background: #56f;
}

.track .time {
    font-size: 70%;
}

.track .track-number-label {
    left: 1em;
    top: 1em;
}

.track .track-number {
    left: 1.5em;
    top: 0.5em;
}

.track .name {
    left: 1.0em;
    top: 0.4em;
}

.track .lap-label {
    left: 1em;
    top: 5em;
}

.track .lap {
    left: 1.8em;
    top: 1.7em;
}

.track .best-lap-label {
    left: 1em;
    top: 9em;
}

.track .best-lap {
    left: 0.5em;
    top: 4.7em;
}

.track .last-lap-label {
    left: 13em;
    top: 9em;
}

.track .last-lap {
    left: 5.6em;
    top: 4.7em;
}

.next-race ul {
    margin: 0em;
}

.next-race li {
    display: inline;
    font-size: 50%;
    margin-right: 0.5em;
    margin-left: 0em;
}

.race-status-raceEnded {
    background: #fdd;
}

.race-status-pause {
    background: #f88;
}

.race-status-ready, .race-status-set {
    background: #fa8;
}

.layout-selector {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

.next-race .sortable {
    border-radius: 7.5px;
    background: #cdc;
    margin-bottom: 0.5em;
    padding-left: 0.4em;
    padding-bottom: 0.2em;
    cursor: move;
}
