<!doctype html>
<html lang="de" ng-app="raceManagerApp" ng-controller="RaceManagerController">
  <head>
    <meta charset="utf-8"/>
    <title>Slotrrr Rennleitung</title>
    <link rel="stylesheet" href="/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome.min.css"/>
    <link rel="stylesheet" href="/lib/jquery-ui-1.10.1.custom.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body class="main">
    <div class="card next-race">
      <div>Nächste Rennen:</div>
      <div sortable-races>
        <ul class="sortable" ng-repeat="race in nextRaces">
          <li class="next-race-driver" ng-repeat="track in race.tracks">{{track.driverName}}</li>
        </ul>
      </div>
    </div>
  </body>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-resource.min.js"></script>
  <script src="/lib/angular-strap.min.js"></script>
  <script src="/lib/jquery-ui-1.10.1.custom.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/race-manager.js"></script>
</html>
