<!doctype html>
<html lang="de" ng-app="raceMonitorApp">
  <head>
    <meta charset="utf-8"/>
    <title>RaceMonitor Race Monitor</title>
    <link rel="stylesheet" href="/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/ranks.css" id="layout-stylesheet"/>
  </head>
  <body ng-controller="RaceMonitorController">
    <div class="card race-status race-status-{{raceStatus}}"><div>{{raceStatusText}}</div></div>
    <div class="main">
      <track-status ng-repeat="track in race.tracks" track="track"/>
    </div>
    <div class="card next-race">
      <div>
        Nächstes Rennen:
        <div>
          <ul ng-repeat="track in nextRace">
            <li>{{track.driverName}}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-strap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/race-monitor.js"></script>
</html>
