<div class="card track rank{{track.rank}}" track-number="{{track.number}}">
  <div class="label track-number-label">{{track.number}}</div>
  <div class="name">{{track.driverName}}</div>
  <div class="label lap-label">Runde</div>
  <div class="lap">{{track.lap}}</div>
  <div class="label best-lap-label">Schnellste</div>
  <div class="time best-lap">{{track.bestLap | lapTime}}</div>
  <div class="label last-lap-label">Letzte</div>
  <div class="time last-lap">{{track.lastLap | lapTime}}</div>
</div>
