<div class="driver-card">
  <div class="label track-number-label">Bahn</div>
  <div class="track-number">{{track.number}}</div>
  <div class="label name-label">Fahrer</div>
  <div class="name">{{track.driverName}}</div>
  <div class="label lap-label">Runde</div>
  <div class="lap">{{track.lap}}</div>
  <div class="label position-label">Position</div>
  <div class="position">{{track.position}}</div>
  <div class="label fastest-lap-label">Schnellste</div>
  <div class="time fastest-lap">{{track.fastestLap}}s</div>
  <div class="label last-lap-label">Letzte</div>
  <div class="time last-lap">{{track.lastLap}}s</div>
</div>
